{% extends "base.html" %}

{% block title %}Gift Shop - About Us{% endblock %}

{% block content %}
<div class="about-section">
    <div class="about-header">
        <h1>About Gift Shop</h1>
    </div>
    
    <div class="about-content">
        
        <div class="about-text">
            <h2>Our Story</h2>
            <p>Founded in 2025, Gift Shop started with a simple mission: to help people find the perfect gifts for their loved ones. (We lied)</p>
            
            <p>Our team carefully selects each product, ensuring that it meets our standards of quality and thoughtfulness. (We took dataset from Kaggle)</p>
            
            <h2>Our Mission</h2>
            <p>Our mission is to make gift-giving easy, enjoyable, and meaningful. (We want to complete our ERP Project)</p>
            
            <h2>Meet the Team</h2>
            <div class="team-members">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='images/about/member1.png') }}" alt="Team Member">
                    <h3>Pham Duy Tuan</h3>
                    <p>ID: 22521609</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='images/about/member2.jpg') }}" alt="Team Member">
                    <h3>Ngo Thanh Trung</h3>
                    <p>ID: 22521561</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='images/about/member3.jpg') }}" alt="Team Member">
                    <h3>Tang Kim Son</h3>
                    <p>ID: 22521258</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='images/about/member4.jpg') }}" alt="Team Member">
                    <h3>Ho Phuc Nhan</h3>
                    <p>ID: 22520995</p>
                </div>
            </div>
            
            <h2>Contact Us</h2>
            <p>Have questions or suggestions? We'd love to hear from you!</p>
            <p>Email: <a href="mailto:info@giftshop.com">erp@giftshop.com</a></p>
            <p>Phone: (999) 999-9999</p>
        </div>
    </div>
</div>
{% endblock %}